
/* INICIO DE FUSIÓN */

.main-banner{
    
    position: relative;
    padding: 30em 18em;
    background: linear-gradient(to right rgb(0, 0, 243), rgb(0, 0, 250));
    filter: brightness(0.8);
}
.main-banner::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
    mix-blend-mode: overlay;
    opacity: .8;
}

.main-banner-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: .5;
}

.adjuntar {
    text-align: center;
    position: relative;
}

.titulo{
    position: relative;
    color:white;
    /* font-family: 'Lato', sans-serif; */
    font-size: 3.5em;
    text-align: center;
    font-weight: 1000;
    /* font-family: "lato"; */
}

.parrafo{
    position: relative;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.boton {
    position: relative;
    background-color: red;  
    border-radius: 10px;
    padding: 1%;
    text-decoration: none;
    color: white;
    font-size: 2em;
    margin: 4px;
    
}
.bot{
    text-align: center;
    position: relative;
}

/* estilos de cursos */

.main2-banner{
    position: relative;
    padding: 30em 18em;
    background: linear-gradient(to right rgb(0, 0, 243), rgb(0, 0, 250));
    filter: brightness(0.8);
}
.main2-banner::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: blue;
    mix-blend-mode: overlay;
    opacity: .9;
}
.main2-banner-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: .4;
}
.btn-primary{
    text-decoration: none;
    color: red;
    display: block;
    text-align: center;
    border-radius: 7px;
    border: 2px solid red;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    background: none;
}
.primary:hover{
    color: red;
}

/* estilos de especializacion */

.main3-banner{
    position: relative;
    padding: 30em 18em;
    background: linear-gradient(to right rgb(0, 0, 243), rgb(0, 0, 250));
    filter: brightness(0.8);
}
.main3-banner::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
    mix-blend-mode: overlay;
    opacity: .9;
}
.main3-banner-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: .5;
}


 
.btn-cent{
    text-align: center;
    
 }   


h5{
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
    text-decoration-color: blue;
}


.boton-diplomados{
    color: firebrick;
    font-size: 2em;
    text-decoration: none;
    background-color: beige;
    padding: 8px 12px 8px 12px;
    margin: 30px 0  0px 60px   ;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 6px 6px #000;

               
}

.boton-diplomados:hover{
    color: red;
}

form{
    margin: auto;
    max-width: 1000px;
    background-color: #ffff;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    margin-top: 3em;
    border-radius: 10px;
    padding: 2em;
}

label{
    width: 100%
    
}
input, textarea{
    width: 100%;
    margin: 1em 0 1em 0;
    padding: 0.6em;
    border: none;
    border: 3px solid red;
    border-radius: 3px;
}

textarea{
    max-height: 350px;
    min-height: 300px;
    border: none;
    border: 3px solid red;
    border-radius: 3px;
    
}

.boton{
    background-color: red;
    color: #ffff;
    padding: .8em;
    border-radius: 3px;
    
}
.boton:hover{
    color: red;
}

.Nombre{
    color: red;
}


.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    left: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
  }

  /* ESTILOS NAV*/

  :root{
    --color-primario: #EC111A;
    --color-secuandrio: #082BA5;
    --color-sombras: #282d31;
    --color-titulos: #282d31;
    --color-text: #23575a;
    --color-fondo: #fcfcfc;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-fondo);

}
header{
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 3px var(--color-sombras);

}
nav{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.menu .logo img{
    height: 60px;

}
.menu .btn-menu{
    display: none;
    color: var(--color-primario);
    text-decoration: none;
    font-size: 1.6em;

}
.menu .enlaces a{
    text-decoration: none;
    color: var(--color-text);
    display: inline-block;
    padding: 1.6em;
    text-align: center;
    font-size: .8em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

} 
.menu .enlaces a:hover{
    color: var(--color-primario);
}

/* interactividad js */
.headroom {
    will-change: transform;
    transition: transform 0.3s ease;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}


/* estilos css para movil: utilizando responsive web design */
@media screen and (max-width: 1023px){

    header .menu{
        flex-direction: column;
    }

    header .menu .logo{
        display: flex;
        flex-direction: row;

                         /* separacion */
        justify-content: space-between;
        width: 100%;
    }

    header .menu .logo .btn-menu{
        display: inline-block;
        margin-top: .4em;
    }

    header .menu .enlaces{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
}

.pie_pagina{
    padding: 20px 0px;
    width: 100%;
    height: auto;
    background-color: black;
}

.pie_pagina .redes_sociales{
    text-align: center;
    padding-bottom: 10px;
}

.pie_pagina .redes_sociales i{
    color: white;
    font-size: 30px;
    padding: 0px 25px;
}

.pie_pagina, .pie_texto{
    text-align: center;
    font-size: 13px;
    color: white;
}

footer p.h5{
    text-align: justify;
    padding-left: 30%;  
}

.main, p{
    color: white;
}
.main:hover{
    color: red;
}


footer .main{
    margin: auto;
    text-decoration: none;
    padding-left: 30%;
} 

/* footer, .enlace:hover{
    color: black;
} */
footer{
    padding-bottom: 30px;
    background-color: black;
    padding: 30px 0 60px 0;
  }
.icono{
    color: white;
    font-size: 50px;
    position: absolute;
    margin: 0 0 0 100px;
}
.pie_pagina{
    background-color: rgb(24, 22, 22);
    display: flex;
    padding: 5px 0 1px 0;
}
.texto1{
    margin-left: 50px;
}
.texto2{
    margin-left: 1000px;
}
.texto3{
    margin-left: 5px;
    color: red;
}
h1{
    text-align: center;
}
h2{
    font-size: 5px;
    text-align: center;
}
img{
    border-radius: 5px;
}

input{
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
    color: red;
    font-weight: 2px;
    display: block;
}