*{
    font-family: 'Poppins';
}
h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.img1{
    border-radius: 5px;
    border: ;
}

h5{
    text-align: center;
    padding: 10px;
    text-decoration: underline rgb(0, 157, 255) ;
}
.img2{
    border-radius: 5px;
}
section{
    border-radius: 5px;
    border: .2px solid rgb(225, 222, 222);
    margin-bottom: 20px;
}
.a1{
    text-decoration: none;
    color: red;
    display: block;
    text-align: center;
    /* margin-left: 100px; */
    border-radius: 7px;
    border: 2px solid red;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.a1:hover{
    color: red;
}
.boton-cursos{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    border: 2px solid red;
    text-decoration: none;
    color: red;
    margin-left: 800px;
}
.boton-cursos:hover{
    color: red;
}

/*NAV Y FOOTER */

nav{
    margin-bottom: 100px;
}
.enlace{
    color: black;
    text-decoration: none;
    
    margin: 0 0 0 100px;
}
.imagen{
    margin: 0 500px 0 200px;
}

        /* pie pagina */
.pie_pagina{
    padding: 20px 0px;
    width: 100%;
    height: auto;
    background-color: black;
}

.pie_pagina .redes_sociales{
    text-align: center;
    padding-bottom: 10px;
}

.pie_pagina .redes_sociales i{
    color: white;
    font-size: 30px;
    padding: 0px 25px;
}

.pie_pagina, .pie_texto{
    text-align: center;
    font-size: 13px;
    color: white;
}





footer p.h5{
    text-align: justify;
    padding-left: 30%;  
}
main{
    color: white;
}
.main, p{
    color: white;
}
.main:hover{
    color: red;
}


footer a{
    margin: auto;
    text-decoration: none;
    color: black;
    padding-left: 30%;
} 

footer a:hover{
    color: black;
}
footer{
    padding-bottom: 30px;
    background-color: black;
    padding: 30px 0 60px 0;
  }
.icono{
    color: white;
    font-size: 50px;
    position: absolute;
    margin: 0 0 0 100px;
}
.pie_pagina{
    background-color: rgb(24, 22, 22);
    display: flex;
    padding: 5px 0 1px 0;
}
.texto1{
    margin-left: 50px;
}
.texto2{
    margin-left: 1000px;
}
.texto3{
    margin-left: 5px;
    color: red;
}
